<ion-view view-title="首页">
    <ion-header-bar class="bar-positive" style="padding:0;">
    
        <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <ion-tab title="推荐" href="#/tab/home/newslist/1"></ion-tab>
            <ion-tab title="百家" href="#/tab/home/newslist/2"></ion-tab>
            <ion-tab title="本地" href="#/tab/home/newslist/3"></ion-tab>
            <ion-tab title="娱乐" href="#/tab/home/newslist/4"></ion-tab>
            <ion-tab title="社会" href="#/tab/home/newslist/5"></ion-tab>
            <ion-tab title="军事" href="#/tab/home/newslist/6"></ion-tab>
        </ion-tabs>
    </ion-header-bar>
    <ion-nav-view name="news-list"></ion-nav-view>
</ion-view>
