<ion-view view-title="设置">
	<ion-nav-bar class="bar-positive" align-title="left">
		<ion-nav-back-button class="button-clear"></ion-nav-back-button>
	</ion-nav-bar>
	<ion-content has-subheader="false">
		<ion-list class="set-list">
			<div class="item item-divider"></div>
			<ion-item href="#/tab/login">
				<i class="icon ion-ios-person"></i>
				<h5>{{username}}</h5>
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<div class="item item-divider"></div>
			<ion-item href="#">
				<i class="icon ion-android-star"></i>
				<h6>我的收藏</h6>
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item href="#">
				<i class="icon ion-android-pin"></i>
				<h6>我的位置</h6>
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item href="#">
				<i class="icon ion-compose"></i>
				<h6>我的评论</h6>
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item href="#">
				<i class="ion-gear-b"></i>
				<h6>软件设置</h6>
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item href="#">
				<i class="ion-android-alert"></i>
				<h6>关于我们</h6>
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>